.row {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background-color: var(--blue-color);
  color: var(--white);
  height: 60px;
}

.container {
  margin: auto;
  width: 80%;
}

.sort-filter-position {
  position: fixed;
  bottom: 10%;
  left: 50%;
  margin-left: -100px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

button {
  padding: 10px;
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 100px;
  outline: none;
  color: var(--blue-color);
}

.city-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.arrow-forward {
  font-size: 1rem;
  margin: 0 10px;
}

.other-details {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.no-flight {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
