/* You can add global styles to this file, and also import other style files */
// @import "styles/variable.scss";
@import "style/variable";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
